html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.jumbotron, .note-textarea {
  background-image: url('../images/linedpaper.png');
}

.display-4, .navbar-brand:hover {
  color: #4d4d4d !important;
}

.card {
  background-color: rgb(238,232,213);
  margin: 15px;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-container {
  margin-bottom: 15px;
}

.note-textarea, .note-title {
  color: #4d4d4d;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
  padding: 0 15px 0 15px;
}

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}
