@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.jumbotron, .note-textarea, .note-edge {
  background-image: url('../images/linedpaper.png');
}

.display-4, .navbar-brand:hover {
  color: #4d4d4d !important;
}

.card {
  background-color: rgb(238,232,213);
  margin: 15px;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-container {
  margin-bottom: 30px;
  font-family: 'Exo', sans-serif;
}

.note-textarea, .note-title {
  color: #4d4d4d;
  width: 100%;
  outline: none;
  border-left: 2px solid rgba(230, 143, 151, .3);
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.note-textarea, .note-edge {
  resize: none;
  height: calc(100% - 63px);
  padding: 15px;
}

.note-title, .note-edge-heading {
  height: 65px;
  margin-top: 13px;
  font-size: calc(1.8rem + .75vw);
  padding: 15px 15px 0 15px;
  background-image: url('../images/linedpaper-heading.png');
}

/* .note-edge, .note-edge-heading {
  border-right: 2px solid rgba(230, 143, 151, .3);
} */

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 86px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border: none;
  padding: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {

  .list-container .card, .note-container{
    height: calc(50vh - 60px);
  }

  .list-group-item {
    height: 10% ;
  }


}
